@using ECommerceApp.Client.Services.BasketService
@using ECommerceApp.Core.Models

@inject IBasketService BasketService
@inject ISyncLocalStorageService LocalStrage
@implements IDisposable

<a href="basket" class="btn btn-info">
    <i class="oi oi-basket"></i>
    <span class="badge">@GetCartItemsCount()</span>
</a>

@code {
    private int GetCartItemsCount()
    {
        var count = LocalStrage.GetItem<int>("basketItemsCount");
        return count;
    }

    protected override void OnInitialized()
    {
        BasketService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        BasketService.OnChange -= StateHasChanged;
    } 
}